
body{
  background-color: #191970;
} 

#index{ background-color: #ECECEC;
      background-image:url("./image/back.png");
      background-repeat:  no-repeat;     
      background-size: contain; 
      width: 100%;         
      height: auto;
  }


div{
  text-align: center
}

.flex-container {
  display: flex;
  height: 190px;
  justify-content: center;

}

.flex-item {
  margin: -0.1%;
  margin-top: 14.9%;
}

.flex-item img{
  width: 7vw;
  margin-bottom: -10%;
}

.flex-container2 {
  display: flex;
  height: 100px;
  justify-content: center;
  margin-bottom: 60%;
}

.flex-item2 {
  margin: 4px;
  margin-top: 13.5%;
}

.flex-item2 img{
  width: 6.5vw;
  margin-bottom: 3%;
}

*,
*:before,
*:after {
-webkit-box-sizing: inherit;
box-sizing: inherit;
}

html {
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-size: 62.5%;
}

.button12 {
  background-color: #ffffff;

  border: solid 2px 006eff;
  color: #191970;
  border-radius: 30px;
  padding: 1vw 2.5vw;
  margin: -10px;
  margin-block: 10px;
  text-decoration: none;
  font-size: 1em;
  box-shadow: 0 5px 0 #006eff;
  display: inline-block;
  transition: .3s;
  margin-top: none;
}
.button12:hover {
  background-color: #0000ff;
  color: #191970;
  transform: translateY(5px);
  box-shadow: 0 0 0 #191970;
}
  

