@keyframes infinity-scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@import url('https://fonts.googleapis.com/css?family=Merienda');

.scroll_wrap {
  display: flex;
  overflow: hidden;
}

.scrolllist {
  display: flex;
  list-style: none;
  padding: 0%;
}

.scrolllistleft {
  animation: infinity-scroll-left 40s infinite linear 0.6s both;
}

.scrollitem {
  height: calc(100vw / 5);
  margin-left: 7vw;
  margin-right: 7vw;
}

.scrollitem>img {
  width: 100%;
}

.imgg {
  width: 200px;
}

.introduce {
text-align: center;
}

.scrollitem:hover {
  transform: scale(1.2);
}

.me{
  display: flex;
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;
}

.you {
  display: flex;
  text-align: right;
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
  justify-content: flex-end;
  
}

.face {
  float: left;
  margin-right: -90px;
  margin-left: 20vw;
  width: 80px;
}

.face2 {
  margin-left: 15px;
  width: 100px;
  margin-right: 20vw;
  order: 2 !important
}

.me img {
  width: 100%;
  height: auto;
  border: solid 3px #d7ebfe;
  border-radius: 50%;
}

.me .chat {
  display: inline-block;
  position: relative;
  margin: 5px 0 0 105px;
  padding: 15px 13px;
  border-radius: 20px;
  background: #ffffff;
  max-width: 30vw;
}

.you img {
  width: 100%;
  height: auto;
  border: solid 3px #9de581;
  border-radius: 50%;
}

.you .chat2 {
  display: inline-block;
  position: relative;
  margin: 5px 0 0 105px;
  padding: 0px 13px;
  border-radius: 20px;
  background: #9de581;
  max-width: 30vw;
}


.chat::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 16px;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #ffffff;
}

.chat p {
  margin: 6px;
  padding: 0;
}

.chat2 p {
  margin: 6px;
  padding: 0;
}
.chatroom {
  width: 100%;
}

.chatroom2 {
  width: 100%;
}

.chat2::after {
  content: "";
  position: absolute;
  top: 6px;
  border: 12px solid transparent;
  border-left: 12px solid #9de581;
  right: -22px;
}

h1 {
  font-family: sans-serif;
}

body {
  background-color: #bcccdb;
}

.topimg {
  width: 30px;
  height: 30px;
  margin: 10px;
}

header {
  display: flex;

}

.top {
  position: absolute;
  top: 0px;
  right: 70px;
}

.return {
  font-size: 1.5em;
  margin-left: 5px;
}

.c-header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  margin: 0%;
  width: 100%;
}

.c-header__list {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
}

.c-header__list-item {
  list-style: none;
  text-decoration: none;
}

.c-header__list-link {
  color: #000000;
  display: block;
  margin-right: 20px;
  text-decoration: none;
  padding: 10px 0px;
}

.c-header__list-link:hover {
  filter: opacity(0.6);
}

.c-hamburger-menu {
  position: relative;
}

@media screen and (max-width: 3000px) {
  .c-hamburger-menu__list {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 2rem;
    position: absolute;
    transform: translateX(100%);
    transition: 0.3s;
    top: 100%;
    width: 100%;
  }

  #hamburger:checked~.c-hamburger-menu__list {
    transform: translateX(0%);
    transition: 0.3s;
  }
}

.c-hamburger-menu__input {
  display: none;
}

.c-hamburger-menu__bg {
  background-color: #000000;
  cursor: pointer;
  display: none;
  height: 100vh;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

#hamburger:checked~.c-hamburger-menu__bg {
  display: block;
}

.c-hamburger-menu__button {
  display: none;
}

@media screen and (max-width: 3000px) {
  .c-hamburger-menu__button {
    align-items: center;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 32px;
    justify-content: center;
    width: 32px;
  }
}

.c-hamburger-menu__button-mark {
  background-color: #000000;
  display: block;
  height: 1px;
  transition: 0.3s;
  width: 20px;
}

li{
  list-style: none;
}

.ranking{
  width:200px;
}

a:link {
  text-decoration: none;
  color:#000000;
  font: normal 25px serif;
}

li a:link {
  text-decoration: none;
  color:#ffffff;
  font: normal 2vw serif;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}

a:visited {
  color: #371665;
}